{% extends 'layout/base.html' %}
{% set title = 'Register' %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="col-11 col-md-3 bg-body rounded shadow-sm p-4 mb-5">
            <h3 class="fw-bold">Register</h3>
            <p class="pb-1 text-muted">Already have an account? <a href="/login">Login</a></p>
            {% if 'name' in register_user_form.errors %}
                {% set error_key = 'name' %}
            {% elif 'email' in register_user_form.errors %}
                {% set error_key = 'email' %}
            {% elif 'password' in register_user_form.errors %}
                {% set error_key = 'password' %}
            {% elif 'password_confirm' in register_user_form.errors %}
                {% set error_key = 'password_confirm' %}
            {% endif %}
            {% if error_key %}
                <ul>
                    {% for error in register_user_form[error_key].errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form class="mt-3" action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
                {{ register_user_form.hidden_tag() }}
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="name" required/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" type="email" id="email" name="email" required/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password" required/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password_confirm">Confirm Password</label>
                    <input class="form-control" type="password" id="password_confirm" name="password_confirm" required/>
                </div>
                <div class="text-end">
                    {{ register_user_form.submit(class='btn btn-primary') }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}