<div class="d-flex flex-row">
    <div class="me-3 w-100">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for existing tickets...">
            <button class="btn btn-dark" type="button">
                <i class="material-icons align-middle">search</i>
            </button>
        </div>
    </div>

    <div class="d-flex flex-shrink-0">
        <a href="/ticket/create" class="btn btn-primary fw-bolder">
            Create a ticket
        </a>
    </div>
</div>