<nav class="navbar navbar-expand navbar-light">
    <div class="container-fluid px-0">
        <span>
            <a href="/" class="navbar-brand fw-bolder align-middle me-2">Service Desk</a>
            <span class="badge bg-secondary">ALPHA</span>
        </span>
        {% if current_user.active %}
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <button class="btn btn-link nav-link shadow-none dropdown-toggle" data-bs-toggle="dropdown">
                    {{ current_user.name }}
                </button>
                <ul class="dropdown-menu dropdown-menu-end border-0 shadow">
                    <li><a href="/profile" class="dropdown-item">Profile</a></li>
                    <li><a href="/api_access" class="dropdown-item">API Access</a></li>
                    <li><a href="/logout" class="dropdown-item">Logout</a></li>
                </ul>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>